<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>mytools.management</string>
	<key>Builder Version</key>
	<string>13605.1.33.1.4</string>
	<key>CFBundleDisplayName</key>
	<string>Block Page Assistant</string>
	<key>CFBundleIdentifier</key>
	<string>management.mytools.blockpageassistant</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>main.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>block-page-assistant</string>
				<key>Image</key>
				<string>Icon-Button.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Block Page Assistant Enabled</string>
				<key>Tool Tip</key>
				<string>Block Page Assistant Enabled</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>before.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Display block page provided by compatible DNS filtering products for HTTPS web sites</string>
	<key>DeveloperIdentifier</key>
	<string>J5LHR4GJD2</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update From Gallery</key>
	<true/>
	<key>Update Manifest URL</key>
	<string>https://downloads.dnsthingy.com/safari/management.mytools.blockpageassistant.plist</string>
	<key>Website</key>
	<string>http://mytools.management</string>
</dict>
</plist>
